<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppThinning.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>3E79FF5E016E3AA2A2FD3AA44092756B15C0FA16</string>
				<key>dateExpires</key>
				<string>10/20/19</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>PZ9NZA89U4.com.ngodacdu.appthinning</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>PZ9NZA89U4</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>PZ9NZA89U4.com.ngodacdu.appthinning</string>
				</array>
			</dict>
			<key>name</key>
			<string>AppThinning.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>5a4f683e-e70d-407c-b5c3-2ae9c58e1756</string>
				<key>name</key>
				<string>App Thinning Distribution</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>PZ9NZA89U4</string>
				<key>name</key>
				<string>Ngo Dac Du</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
